<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <img src="assets/images/kkobilic-logo.png" class="club-logo" />
      <span class="club-title">Karate klub Obilic</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-title">
    Register
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">Register</ion-button>

  </form>

</ion-content>
