<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle auto-hide="true">
        <ion-button expand="block" color="primary" class="ion-margin-bottom">
          About Us
        </ion-button>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
          <ion-button routerLink="/members" expand="block" color="primary" class="ion-margin-bottom">
            Members
          </ion-button>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-button routerLink="/achievements" expand="block" color="primary" class="ion-margin-bottom">
            Achievements
          </ion-button>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-button expand="block" color="primary" class="ion-margin-bottom">
            Gallery
          </ion-button>
        </ion-menu-toggle>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
