<ion-app>

  <ion-menu contentId="main-content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Karate Klub Obilic</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/home" routerLinkActive="active-item" lines="none">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/members" routerLinkActive="active-item" lines="none">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Members</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/achievements" routerLinkActive="active-item" lines="none">
            <ion-icon name="trophy-outline" slot="start"></ion-icon>
            <ion-label>Achievements</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
