<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <img src="assets/images/kkobilic-logo.png" class="club-logo" />
      <span class="club-title">Karate klub Obilic</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-title">
    Login
  </div>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required minlength="6"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">Login</ion-button>
  </form>
  <div class="register-link">
    <p>
      Don't have an account?
      <a routerLink="/register">Register here</a>
    </p>
  </div>

</ion-content>
