
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="toolbar-content">
        <img src="assets/images/kkobilic-logo.png" class="club-logo" />
        <span class="club-title">Karate klub Obilic</span>
      </div>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          Logout
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="welcome-message">
      Welcome, {{ firstName }} {{ lastName }}!
    </div>

    <div class="home-photo-container">
      <img src="assets/images/kkobilic-dojo1.png" alt="Karate Photo" class="home-photo" />
    </div>

    <div class="home-photo-container">
      <img src="assets/images/kkobilic-dojo2.png" alt="Karate Photo" class="home-photo" />
    </div>

    <div class="home-photo-container">
      <img src="assets/images/kkobilic-dojo3.png" alt="Karate Photo" class="home-photo" />
    </div>
  </ion-content>
</div>
