<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>       
    </ion-buttons>
    <ion-title>members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label class="center-label">All club members:</ion-label>

  <ion-list>
    <app-member-element *ngFor="let member of members" [member]="member"></app-member-element>
  </ion-list>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">members</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
