<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar-content">
      <img src="assets/images/kkobilic-logo.png" class="club-logo" />
      <span class="club-title">Karate klub Obilic</span>
    </div>
    <ion-buttons slot="end">
      <ion-button class="add-member-btn" (click)="onAddMember()">
        Add Member
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-title">
    Members:
  </div>
  

  <ion-list>
    <app-member-element 
      *ngFor="let member of members" 
      [member]="member" 
      class="member-card">
    </app-member-element>
  </ion-list>


</ion-content>
