<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>       
    </ion-buttons>
    <div class="toolbar-content">
      <img src="assets/images/kkobilic-logo.png" class="club-logo" />
      <span class="club-title">Karate klub Obilic</span>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="onAddMember()">
        Add Member
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-title">
    Members:
  </div>
  

  <ion-list>
    <app-member-element *ngFor="let member of members" [member]="member"></app-member-element>
  </ion-list>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">members</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
